
/* Section 4 */
.section-4 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .section-4 .section-heading{
    color: #333;
  }
  .form-container {
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0.3rem 0.3rem 0.4rem #ccc, -0.1rem -0.1rem 0.4rem #ccc;
    border-radius: 0.5rem;
    perspective: 100rem;
  }
  

  .contact-form {
    width: 60vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 3rem 3rem 4rem #aaa;
 
    transition: all 0.5s;
  }
  
  .contact-form:hover {
    transform: translateY(-2rem) rotateY(10deg);
    box-shadow: 5rem 5rem 7rem #aaa;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 2rem;
    box-shadow: inset 0.1rem 0.1rem 0.2rem #ddd, inset -0.1rem -0.1rem 0.2rem #ddd;
  }
  
  .contact-form textarea {
    max-height: 15rem;
    min-height: 10rem;
    max-width: 100%;
    min-width: 70%;
  }
  
 input[type="submit"]{
    cursor: pointer;
 }
  /* End of Section 4 */